* {
	margin-bottom: 10px;
	font-size: 14px;
}

button {
	display: block;
}

textarea {
	width: 40%;
	height: 10em;
	font-family: 'Courier New', Courier, monospace;
}

#toggleContainer {
	display: flex;
	align-items: center;
	gap: 8px;
}

#indicator {
	display: none;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: green;
	margin: 0;
}
